# name: Push to GCR GitHub Action
# on: [push]
# jobs:
#   build-and-push-to-gcr:
#     runs-on: ubuntu-latest
#     steps:
#       - uses: actions/checkout@v2
#       - uses: google-github-actions/setup-gcloud@master
#       - uses: RafikFarhad/push-to-gcr-github-action@v4
#         with:
#           gcloud_service_key: ${{ secrets.GCLOUD_SERVICE_KEY }}
#           registry: gcr.io
#           project_id: my-awesome-project
#           image_name: server-end

name: Push to GCR GitHub Action
on: [push]
jobs:
  build-and-push-to-gcr:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: env
        name: env [debug]
      - name: Get the tag name
        id: get_tag_name
        run: echo ::set-output name=IMAGE_VERSION::$(date +%y-%m-%d).$GITHUB_RUN_NUMBER
      - name: Set up Cloud SDK
        uses: google-github-actions/setup-gcloud@master
        with:
          service_account_key: ${{ secrets.GCP_SA_KEY }}
          export_default_credentials: true
      - uses: RafikFarhad/push-to-gcr-github-action@v4
        with:
          gcloud_service_key: ${{ secrets.GCP_SA_KEY }}
          registry: gcr.io
          project_id: ${{ secrets.GCP_PROJECT_ID }}
          image_name: oms-lite
          image_tag: ${{ steps.get_tag_name.outputs.IMAGE_VERSION }}
      - name: Deploy Docker image
        run: | 
          gcloud run deploy ${{ secrets.GCP_PROJECT_ID }} \
            --image $IMAGE_NAME \
            --region us-central1 \
            --platform managed \
            --allow-unauthenticated
