name: Push to GCR GitHub Action
on: [push]

env:
  APP_NAME: oms-lite
  REGISTRY: gcr.io

jobs:
  build-and-push-to-gcr:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - run: env
        name: env [debug]

      - name: Prepare
        id: prep
        run: |
          TAG=$(date +%y-%m-%d).$GITHUB_RUN_NUMBER
          IMAGE=${{ env.REGISTRY }}/${{ secrets.GCP_PROJECT_ID }}/${{ env.APP_NAME }}
          echo ::set-output name=tagged_image::${IMAGE}:${TAG}
          echo ::set-output name=tag::${TAG}

      - name: Set up Docker Buildx
        id: buildx
        # Use the action from the master
        # Issue: https://github.com/docker/build-push-action/issues/286
        uses: docker/setup-buildx-action@master
        with:
          install: true

      - name: Cache Docker layers
        uses: actions/cache@v2
        with:
          path: /tmp/.buildx-cache
          # Key is named differently to avoid collision
          key: ${{ runner.os }}-multi-buildx-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-multi-buildx

      - name: Build Docker image
        uses: docker/build-push-action@v2
        with:
          context: .
          builder: ${{ steps.buildx.outputs.name }}
          file: Dockerfile
          # Set the desired build target here
          target: final
          push: false
          load: true
          tags: ${{ steps.prep.outputs.tagged_image }}
          cache-from: type=local,src=/tmp/.buildx-cache
          # Note the mode=max here
          # More: https://github.com/moby/buildkit#export-cache-options
          # And: https://github.com/docker/buildx#cache-tonametypetypekeyvalue
          cache-to: type=local,mode=max,dest=/tmp/.buildx-cache-new

      - name: Move cache
        run: |
          rm -rf /tmp/.buildx-cache
          mv /tmp/.buildx-cache-new /tmp/.buildx-cache

      - name: Set up Cloud SDK
        uses: google-github-actions/setup-gcloud@master
        with:
          service_account_key: ${{ secrets.GCP_SA_KEY }}
          export_default_credentials: true
      - uses: RafikFarhad/push-to-gcr-github-action@v4
        name: Docker build&push
        with:
          gcloud_service_key: ${{ secrets.GCP_SA_KEY }}
          registry: ${{ env.REGISTRY }}
          project_id: ${{ secrets.GCP_PROJECT_ID }}
          image_name: ${{ env.APP_NAME }}
          image_tag: ${{ steps.prep.outputs.tag }}
          push_only: true

      - name: Deploy to Cloud Run
        run: |
          gcloud components update --quiet && \
          gcloud beta run deploy ${{ env.APP_NAME }} \
            --project ${{ secrets.GCP_PROJECT_ID }} \
            --service-account "${{ env.APP_NAME }}@${{ secrets.GCP_PROJECT_ID }}.iam.gserviceaccount.com" \
            --image ${{ steps.prep.outputs.tagged_image }} \
            --region us-central1 \
            --platform managed \
            --allow-unauthenticated \
            --update-secrets=INSTANCE_CONNECTION_NAME=cloudsql_oms_lite_instance_connection:latest \
            --update-secrets=POSTGRES_DB=cloudsql_oms_lite_db_name:latest \
            --update-secrets=POSTGRES_USER=cloudsql_oms_lite_db_user:latest \
            --update-secrets=POSTGRES_PASSWORD=cloudsql_oms_lite_db_password:latest \
